@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                     @{
						try
						{

							if (accessor.HttpContext.Session.GetString("First_Name") != null)
							{
								string name = accessor.HttpContext.Session.GetString("First_Name");
								string? rollid = accessor.HttpContext.Session.GetString("Role");

								<ul class="navbar-nav flex-grow-1 justify-content-end ">

									@if (rollid != null)
									{
										if (rollid == "Admin")
										{
											 <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Create">Add Book</a>
                            </li>
                            <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Manage Books</a>
                            </li>
                            <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Billings" asp-action="Order">Order reports</a>
                            </li>
                            <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserAccounts" asp-action="Index">Customers List</a>
                            </li>
                            <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Billings" asp-action="Index">Bilings</a>
                            </li>
                            <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="Index">Transactions</a>
                            </li>
                           
										}
										else if (rollid == "User")
										{
											  <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Catalogue"> Catalogy</a>
                            </li>
                             <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CartItems" asp-action="Index">My Cart</a>
                            </li>
                            <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Billings" asp-action="CustomerOrders">My Orders</a>
                            </li>
                            
										}
									}
                                    <li class="nav-item btn btn-outline-primary" style="margin-left:1%;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserAccounts" asp-action="ProfileView" >View profile</a>
                            </li>

									<li class="nav-item btn btn-primary text-white" style="margin-right:1%;">
										<a class="nav-link text-white" asp-area="" asp-controller="UserAccounts" asp-action="Index">Welcome, &nbsp; <span class="text-white">@name</span> </a>
									</li>
									<li class="nav-item btn btn-danger" style="margin-left:auto">
										<a class="nav-link text-dark" asp-area="" asp-controller="UserAccounts" asp-action="Login">Logout</a>
									</li>
								</ul>


							}
						}
						catch { }
					}

				</div>
			</div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BookApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>