@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<head>
<style>
  body{
        background-image:url('http://virtuemarttemplatesfree.com/wp-content/uploads/2016/08/56d50b8d77161.jpg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
       /* background-height:400px;
        background-width:600px;*/
    }
</style>
</head>
 
<div class="text-center">
    <h1 class="display-4" style="color:White;text-align:center" ></h1>
    
</div>
